html {
  background: black;
  z-index: -1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > h3 {
  color: #563c5c;
  font-size: 50px;
}
#main {
  border: 1px solid;
  margin: auto;
  background-image: url('../assets/stage.png');
  background-size: 100%;
}

.game-info {
  color: white;
}

.my-info {
  color: white;
}
