html {
  background: black;
  z-index: -1;
  font-family: 'Press Start 2P', cursive;
}

body {
  display: flex;
}

#main {
  border: 1px solid;
  margin: auto;
  background-image: url('../assets/stage.png');
  background-size: 925px;
}

.game-info {
  color: #563c5c;
  font-size: 30px;
  margin: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-info {
  color: white;
}

.up {
  width: 30px;
}

.left {
  width: 30px;
}

.right {
  width: 30px;
}

.my-info {
  margin: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.game-title {
  color: #563c5c;
  font-size: 40px;
  padding-left: 175px;
}
.linkedIn {
  width: 60px;
}

.linkedin > img {
  width: 60px;
}

.github {
  width: 70px;
}

.github > img {
  width: 70px;
}

.game-info > div {
  margin-bottom: 30px;
}
