html {
  background: black;
  z-index: -1;
}

body {
  display: flex;
}

#main {
  border: 1px solid;
  margin: auto;
  background-image: url('../assets/stage.png');
  background-size: 100%;
}

.game-info {
  color: #563c5c;
  font-size: 30px;
}

.my-info {
  color: white;
}
